bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
/Resources/
/Tests/Resources
/Crypto.Tests/DES/Resources
*.user
/Crypto.Tests.SymmetricEncryption.DES/Resources
/Crypto.Tests.SymmetricEncryption.RC4/Resources
